.toggleMenuNavBar {
  position: relative;

  width: 30px;
  height: 30px;
  background: var(--white);
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    position: absolute;
    width: 20px;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-800);
    transition: 0.5s;
  }

  span:nth-child(1) {
    transform: translateY(-5px);

    &.active {
      transform: translateY(0px) rotate(45deg);
    }
  }

  span:nth-child(2) {
    transform: translateY(5px);

    &.active {
      transform: translateY(0px) rotate(315deg);
    }
  }
}
